<!DOCTYPE html>
<html>
<head>
	<title>The Weather App</title>
</head>
<body>
	<h1>The Weather App</h1>

	<form action="/loc" method="POST">
		<input type="text" name="location" placeholder="Enter the location">
		<button>Tell me the weather</button>
	</form>

	<h3>Location: <%= location %></h3>
	<h3>Weather: <%= weather %></h3>
	<h3>Temperature: <%= temperature %></h3>
	<img src=<%= image %>>
</body>
</html>